@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Jua&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    overflow: hidden;
}

html,
body,
.container {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Courgette', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

/*  */
.bounce {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #FFC502;
}

/* navigation  */
.navigate {
    display: block;
    width: 100%;
    position: fixed;
    top: 1rem;
    left: -1rem;
    z-index: 99;
}

.navigate ul {
    display: flex;
    justify-content: right;
}

.navigate ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.navigate ul li a {
    color: #fff;
    text-decoration: none;
    outline: none;
    position: relative;
    ;
}

.navigate ul li a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
    z-index: 15;
}

.navigate ul li a:hover:after {
    width: 60%;

}

/* section */

.section {
    width: 100%;
    height: 100%;
    position: relative;
}

#section1 {
    background-color: #0e0e14;
    position: relative;
    z-index: 1;
}

#section2 {
    background-color: rgb(2, 9, 20);
}

#section3 {
    left: 0;
    top: 0;
    z-index: 1;
}

#section4 {
    background-color: #0e0e14;
    box-sizing: border-box;
}



/*  파티클 */
#particles-js {
    height: inherit;

}

.greeting-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 10rem;
    text-align: center;
    color: #fff;
    font-size: 5rem;
}

.greeting-box h3 {
    margin-top: 2.5rem;
    width: 100%;
    font-weight: bold;
    letter-spacing: -2px;
    font-family: 'Noto Sans KR', sans-serif;
}


.greeting-box h3:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
}




/* section3 */
#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#ship {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 33%;
    left: 44%;
    z-index: 3;
}

.distance {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 2rem;
    left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 3;
}

#section3 .card-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 20%;
    max-width: 300px;
    height: 30%;
    max-height: 300px;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #fff;
    text-align: center;
}

#section3 .card-box.on {
    display: none;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.select {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    max-width: 300px;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}



.line {
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    border: 1px solid #fff;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    transition: all 0.3s;
    animation: circle 4s linear infinite;
    cursor: pointer;
}

.line.two {
    animation: circle 10s reverse infinite;
}

.line.three {
    animation: circle 6s linear infinite;
}

.slick-track {
    width: 3900px !important;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    right: 115%;
    background: none;
    border: none;
    color: #Fff;
    cursor: pointer;
}

.slick-next {
    left: 115%;
}
.li.body {
    display: block !important;
}
.line.on {
    background-color: rgba(220, 20, 60, 0.5);
    border: none;
}

li.body {
    display: block;
    z-index: 20;
    color: #fff;
    font-size: 2rem;
    letter-spacing: -2px;
    font-weight: bold;
    width: 100%;
    height: inherit;
}

.modal {
    position: relative;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    top: -500%;
    z-index: 99;
    transition: all 0.5s;
}

.modal.on {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
    max-width: 1000px;
    max-height: 394px;
    height: 40%;
    background-color: #111;
    border-radius: 5px;
}

.contents {
    display: flex;
    width: 100%;
    height: 100%;

}

.left {
    flex: 7;
    width: 100%;
    height: 100%;
}

.right {
    flex: 3;
    display: flex;
    padding-left: 1rem;
    box-sizing: border-box;
}


.right-box {
    flex: 8;
}

.right-box h2,
.right-box h3,
.right-box,h4 {
    padding: 1rem 0;
}
.right-box h2 {
    font-size: 1.3rem;
}
.right-box h3 {
    letter-spacing: -1px;
    line-height: 1.4rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.right-box h4,
.right-box h5 {
    padding: 0;
    margin: 0.3rem 0;
    font-size: 0.7rem;
}
.bottom {
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 30px;
}

.right-box h4{
    font-size: 0.7rem;
}

.close {
    flex: 2;
    max-width: 50px;
    max-height: 50px;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}
i {
    color: #fff;
    display: block !important;
    width: 50px;
    height: 50px;
    font-size: 1.6rem !important;
    padding-top: 0.8rem;
    box-sizing: border-box;
}

input[name=tabmenu] {
    display: none;
}

.tab {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.tabs{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.items {
    position: absolute;
    width: 600%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
}

.items div {
    width: 16.66%;
    float: left;
    height: 100%;
}
.items div img{
    display: block;
    width: 100%;
    height: 100%;
}


.btn {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
}

.btn label {
    background-color: gray;
    width: 50px;
    height: 5px;
    display: inline-block;
    cursor: pointer;
}

input[id=tab1]:checked~.tabs .items {
    left: 0;
}

input[id=tab2]:checked~.tabs .items {
    left: -100%;
}

input[id=tab3]:checked~.tabs .items {
    left: -200%;
}
input[id=tab4]:checked~.tabs .items {
    left: -300%;
}

input[id=tab5]:checked~.tabs .items {
    left: -400%;
}

input[id=tab6]:checked~.tabs .items {
    left: -500%;
}


input[id=tab1]:checked~.btn label[for=tab1],
input[id=tab2]:checked~.btn label[for=tab2],
input[id=tab3]:checked~.btn label[for=tab3],
input[id=tab4]:checked~.btn label[for=tab4],
input[id=tab5]:checked~.btn label[for=tab5],
input[id=tab6]:checked~.btn label[for=tab6]  {
    background-color: #111;
}



/* rightBox */

.contents .right {
    color: #fff;
}


/* section3 */





/* KeyFrames */
/* circle rotate */
@keyframes circle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* greeting animation */
@keyframes greetingOne {
    0% {
        opacity: 0;
        top: 60%;
    }

    60% {
        top: 60%;
        opacity: 0;
    }

    100% {
        top: 40%;
        transform: translateY(-50%);
        opacity: 1;
    }

}

@keyframes greetingTwo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* 고래움지기이기 */
@keyframes moving {
    from {
        left: 90%;
    }

    to {
        left: -10%;
    }
}
@media (max-width: 1224px) {
    .contents {
        display: block;
    }
    .bg {
        width: 85%;
        top: 35%
    }
}
@media (max-width: 1024px) {
    .greeting-box h3 {
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 5px;
    }

    .slick-arrow {
        right: 200%;
    }

    .slick-next {
        left: 220%;
    }

    #ship {
        left: 35%;
    }
}


@media (max-width: 768px) {
    .navigate {
        left: 0;
    }

    .navigate ul {
        justify-content: center;
    }

    .greeting-box h3 {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 2px;
    }
    .navigate ul li a {
        font-size: 0.9rem;
    }
}
@media (max-height: 650px) {
    .astronaut {
        opacity: 0;
    }
}